<div class="row">
  <div class="heading dark text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
    <h1>Atendimento</h1>
    <h3>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi</h3>
  </div>
</div>
<div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
  <div class="row col-sm-10 col-sm-offset-1">
    <div class="col-sm-5 shadow">
      <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h4>Nosso endereço</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        <h4>Nos contate</h4>
        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. </p>
        <h4>Mande um e-mail</h4>
        <p>Lorem ipsum dolor sit amet. </p>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-1 shadow">
      <form id="main-contact-form" name="contact-form" method="post" action="#" class="dist">
        <div>
          <input name="name" class="form-control" placeholder="Nome" required="required">
        </div>
        <div>
          <input type="email" name="email" class="form-control" placeholder="Endereço de Email" required="required">
        </div>
        <div >
          <input name="subject" class="form-control" placeholder="Assunto" required="required">
        </div>
        <div>
          <textarea name="message" id="message" class="form-control" rows="3" placeholder="Escreva sua mensagem" required="required"></textarea>
        </div>
        <div>
          <button type="submit" class="btn-submit">Envie agora</button>
        </div>
      </form>
    </div>
  </div>
</div>
