<header id="home">
  <div id="home-slider" class="carousel slide carousel-fade big-triangle" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" style="background-image: url('/assets/porcheback.jpg');">
        <div class="caption">
          <h3 class="animated fadeInRightBig">Clube de vantagens</h3>
          <h1 class="animated fadeInLeftBig">VOCÊ E SEU CARRO MERECEM</h1>
          <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi</p>
          <p>praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus </p>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Assinar agora</a>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Saber mais</a>
        </div>
      </div>
      <div class="item" style="background-image: url('/assets/opalaback.jpg');">
        <div class="caption">
          <p class="animated fadeInRightBig">Clube de vantagens</p>
          <h1 class="animated fadeInLeftBig">VOCÊ E SEU CARRO MERECEM</h1>
          <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi</p>
          <p>praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus </p>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Assinar agora</a>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Saber mais</a>
        </div>
      </div>
      <div class="item" style="background-image: url('/assets/porcheback.jpg');">
        <div class="caption">
          <p class="animated fadeInRightBig">Clube de vantagens</p>
          <h1 class="animated fadeInLeftBig">VOCÊ E SEU CARRO MERECEM</h1>
          <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi</p>
          <p>praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus </p>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Assinar agora</a>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Saber mais</a>
        </div>
      </div>
    </div>
    <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

    <a href="#participante"><i class="fa fa-anchor"></i></a>

  </div><!--/#home-slider-->
  <!--/#main-nav-->
</header><!--/#home-->
