
<!-- <%= render "layouts/header"%> -->

  <%= render :template => "meu_carro/home"%>

  <section id="info">
    <div class="container">
      <%= render :template => "meu_carro/info"%>
    </div>
  </section>
  <div class="border2"></div>

  <section id="info">
    <div class="container">
      <div class="row col-sm-10 col-sm-offset-1">
        <div class="col-sm-6 imac-image">
          <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="what-is wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>O QUE É?</h2>
            <div class="paragraph">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="paragraph">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <a data-scroll class="btn btn-assign animated fadeInUpBig paragraph" href="#services">Assine agora mesmo</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about-us">
    <div class="container-full">
      <div class="row col-sm-12">
        <div class="col-sm-6 left-half">
          <div class="about-info wow fadeInUp text" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>COMO FUNCIONA</h2>
            <div>
              <a><i class="fa fa-users"></i></a>
              <h5>SEJA SÓCIO</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div>
              <a><i class="fa fa-coffee"></i></a>
              <h5>AGUARDE SEU CARTÃO NA SUA CASA</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div>
              <a><i class="fa fa-gift"></i></a>
              <h5>DESFRUTE DE TODOS OS BENEFICIOS</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 right-half"></div>
      </div>
    </div>
  </section>

  <!-- <section id="about-us">
    <div class="container-full row">
      <div class="col-xs-6 left-half">
        <div class="about-info wow fadeInUp text" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>COMO FUNCIONA</h2>
          <h5>SEJA SÓCIO</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <h5>AGUARDE SEU CARTÃO NA SUA CASA</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <h5>DESFRUTE DE TODOS OS BENEFICIOS</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div>
      <div class="col-xs-6 right-half">
      <a><i class="fa fa-users"></i></a>
      <a><i class="fa fa-coffee"></i></a>
      <a><i class="fa fa-gift"></i></a>
      </div>
    </div>
  </section> -->

  <section id="atendimento">
    <!-- <div id="google-map" class="wow fadeIn" data-latitude="-15.7942287" data-longitude="-47.8821658" data-wow-duration="1000ms" data-wow-delay="400ms"></div> -->
    <div id="contact-us">
      <div class="container">
        <%= render :template => "meu_carro/atendimento"%>
      </div>
    </div>
  </section>
</body>
</html>
