  <div class="blog-posts">
    <div class="row text-center col-sm-10 col-sm-offset-1">
      <div class="col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
        <i class="fa fa-thumbs-o-up icons"></i>
        <div class="entry-header info box">
          <h3><a href="#">SEM ACUMULO DE PONTOS</a></h3>
        </div>
        <div class="border1"></div>
        <div class="entry-content info">
          <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi</p>
        </div>
      </div>
      <div class="col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
        <i class="fa fa-credit-card icons"></i>
        <div class="entry-header info box">
          <h3><a href="#">DESCONTOS NA HORA DE PAGAR</a></h3>
        </div>
        <div class="border1"></div>
        <div class="entry-content info">
          <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi</p>
        </div>
      </div>
      <div class="col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
        <i class="fa fa-money icons"></i>
        <div class="entry-header info box">
          <h3><a href="#">PAYBACK INSTANTÂNEO</a></h3>
        </div>
        <div class="border1"></div>
        <div class="entry-content info">
          <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi</p>
        </div>
      </div>
      <div class="col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
        <i class="fa fa-car icons"></i>
        <div class="entry-header info box">
          <h3><a href="#">LOJAS PARCEIRAS DE QUALIDADE</a></h3>
        </div>
        <div class="border1"></div>
        <div class="entry-content info">
          <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi</p>
        </div>
      </div>
    </div>
  </div>
