<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>Olá <%= @user.complete_name %>,</p>
      <p>
          Obrigado por se cadastrar!
          Por favor, confirme a ativação da sua conta clicando no link abaixo.
      </p>
      <p><%= confirm_email_user_url(@user.confirm_token) %></p>

  </body>
</html>
