<div id="footer">
  <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
    <div class="container text-center">
      <div class="footer-logo">
        <a><h1><%= link_to "newcap", root_path, :class => "white-font" %></h1></a>
      </div>
      <div class="social-icons">
        <ul>
          <li><a class="envelope" href="#contact"><i class="fa fa-envelope"></i></a></li>
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>&copy; newcap</p>
        </div>
        <div class="col-sm-6">
          <p class="pull-right">Designed by <%= link_to "newcap", root_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>
